{% render 'page-header' title: 'Collections' %}

<div class="template-list-collections global-grid">
  {% for collection in collections %}
    <ion-card href="{{ collection.url }}">
      {% if collection.image %}
        <img class="template-list-collections__image" class src="{{ collection | img_url: '450x450' }}" width="450" height="450" alt="{{ collection.image.alt }}"/>
      {% else %}
        <img class="template-list-collections__image" src="{{ collection.products.first | img_url: '450x450' }}" width="450" height="450" alt="{{ collection.title | escape }}"/>
      {% endif %}

      <ion-card-header>
        <ion-card-subtitle>
          {{ collection.products_count }}
          {{ collection.products_count | pluralize: 'Product', 'Products' }}
        </ion-card-subtitle>
        <ion-card-title>{{ collection.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ collection.description | strip_html | truncate: 100 }}</p>
      </ion-card-content>
    </ion-card>
  {% endfor %}
</div>

<style code>
  .template-list-collections {

    &__image {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-bottom: 1px solid #dadada;
    }
  }
</style>