<div class="snippet-collection-item card">
  {% if collection.image %}
    <img class="snippet-collection-item__image card-img-top" src="{{ collection | img_url: '450x450', crop: 'center' }}" width="450" height="450" alt="{{ collection.image.alt }}"/>
  {% else %}
    <img class="snippet-collection-item__image card-img-top" src="{{ collection.products.first | img_url: '450x450', crop: 'center' }}" width="450" height="450" alt="{{ collection.title | escape }}"/>
  {% endif %}
  <div class="snippet-collection-item__card-body card-body">
    <div class="snippet-collection-item__card-info">
      <h5 class="card-title">{{ collection.title }}</h5>
      <p class="card-text">{{ collection.description | strip_html | truncate: 100 }}</p>
    </div>
    <a class="btn btn-primary btn-block" href="{{ collection.url }}">
      Explore
      {{ collection.products_count }}
      {{ collection.products_count | pluralize: 'Product', 'Products' }}
    </a>
  </div>
</div>
<!-- /.snippet-collection-item -->