<nav class="snippet-main-menu navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ routes.root_url }}">{{ shop.name }}</a>
    <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarCollapse" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Left nav -->
      <ul class="nav navbar-nav mr-auto">
        {% for link in linklists.main-menu.links %}
          {%- if link.links == blank -%}
            <li class="nav-item">
              <a class="nav-link {% if link.active %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% if link.child_active %}active{% endif %}" href="{{ link.url }}">
                {{ link.title }}
              </a>
              <ul class="dropdown-menu">
                {%- for child_link in link.links -%}
                  {%- if child_link.links == blank -%}
                    <li>
                      <a class="dropdown-item {% if child_link.active %}active{% endif %}" href="{{ child_link.url }}">
                        {{ child_link.title }}
                      </a>
                    </li>
                  {% else %}
                    <li class="dropdown">
                      <a class="dropdown-item dropdown-toggle {% if link.child_active %}active{% endif %}" href="{{ child_link.url }}">
                        {{ child_link.title }}
                      </a>
                      <ul class="dropdown-menu">
                        {%- for grandchild_link in child_link.links -%}
                          <li>
                            <a class="dropdown-item {% if grandchild_link.active %}active{% endif %}" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            </li>
          {%- endif -%}
        {% endfor %}
      </ul>

      <!-- Right nav -->
                                                                                                <!-- <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="bootstrap-4-navbar.html">Default</a>
            </li>
          </ul> -->
    </div>
  </div>
</nav>
<!-- /.snippet-main-menu -->