{%- if paginate.pages > 1 -%}
  <nav class="snippet-pagination">
    <ul class="pagination">
      {%- if paginate.previous -%}
        <li class="page-item">
          <a class="page-link" href="{{ paginate.previous.url }}" tabindex="-1">Previous</a>
        </li>
      {%- else -%}
        <li class="page-item disabled">
          <a class="page-link" href="{{ paginate.previous.url }}" tabindex="-1">Previous</a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        {%- if part.is_link -%}
          <li class="page-item">
            <a class="page-link" href="{{ part.url }}">{{ part.title }}</a>
          </li>
        {%- else -%}
          {%- if part.title == paginate.current_page -%}
            <li class="page-item active">
              <a class="page-link">{{ paginate.current_page }}</a>
            </li>

          {%- else -%}
            <li class="page-item disabled">
              <a class="page-link">{{ part.title }}</a>
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if paginate.next -%}
        <li class="page-item">
          <a class="page-link" href="{{ paginate.next.url }}">Next</a>
        </li>
      {%- else -%}
        <li class="page-item disabled">
          <a class="page-link" href="{{ paginate.next.url }}">Next</a>
        </li>
      {%- endif -%}
    </ul>
  </nav>
{%- endif -%}