<div class="section-slideshow card">
  <div class="card-body">
    <div class="carousel slide" data-bs-ride="carousel" id="section-{{ section.id }}">
      <div class="carousel-indicators">
        {% for block in section.blocks %}
          <button type="button" data-bs-target="#section-{{ section.id }}" data-bs-slide-to="{{ forloop.index0 }}" class="{% if forloop.first == true %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.index }}"></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for block in section.blocks %}
          <div class="section-slideshow__item carousel-item {% if forloop.first == true %}active{% endif %}">

            {% render 'image' class: 'section-slideshow__item-image d-block w-100', image: block.settings.image, width: 1200, height: 450 %}

            <div class="section-slideshow__item-caption carousel-caption">
              <div class="section-slideshow__item-caption-text">
                {% if block.settings.title != '' %}
                  <h5>{{ block.settings.title }}</h5>
                {% endif %}

                {% if block.settings.description != '' %}
                  {{ block.settings.description }}
                {% endif %}
              </div>

              {% if block.settings.actionButton != '' %}
                <a class="btn btn-primary mb-2" href="{{ block.settings.actionLink }}">{{ block.settings.actionButton }}</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#section-{{ section.id }}" type="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#section-{{ section.id }}" type="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<!-- /.section-slideshow -->

{% schema %}

{
  "name": "Slideshow",
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        }, {
          "id": "description",
          "type": "richtext",
          "label": "Description"
        }, {
          "id": "actionButton",
          "type": "text",
          "label": "Action Button"
        }, {
          "id": "actionLink",
          "type": "url",
          "label": "Action Link"
        }, {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Sliders",
      "name": "Slideshow"
    }
  ]
}

{% endschema %}
