{% render 'page-header' title: page_title %}

<div class="section-blog-template global-grid">
  {% for article in blog.articles %}
    <ion-card href="{{ article.url }}">
      <img class="section-blog-template__image" src="{{ article.image | img_url: '450x450' }}" width="450" height="450" alt="{{ article.title | escape }}">
      <ion-card-header>
        <ion-card-subtitle>By
          {{ article.author }}</ion-card-subtitle>
        <ion-card-title>{{ article.title | escape }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt }}
          {%- else -%}
            {{ article.content | strip_html | truncate: 100 }}
          {%- endif -%}
        </p>
      </ion-card-content>
    </ion-card>
  {% endfor %}
</div>

<style code>
  .section-blog-template {

    &__image {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-bottom: 1px solid #dadada;
    }
  }
</style>