<template code>
  <!DOCTYPE html>
  <html lang="{{ request.locale.iso_code }}">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{{ shop.name }}</title>

      {{
        'style.css' | asset_url | stylesheet_tag
      }}

      {{
        content_for_header
      }}
    </head>
    <body class="layout-theme">
      {{ content_for_layout }}
    </body>
  </html>
</template>

<style code>
  .layout-theme {
    background-color: yellow;
    color: red;
  }
</style>

<script code>
  console.log('layout-theme');
</script>
