<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <link rel="canonical" href="{{ canonical_url }}">
    <link href="{{ 'favicon.png' | asset_url }}" rel="shortcut icon" type="image/png”"/>

    {%- if request.page_type == 'page' -%}
      <title>{{ page.title | escape }} • {{ shop.name | escape }}</title>
    {%- elsif request.page_type == 'search' -%}
      <title>Search • {{ shop.name | escape }}</title>
    {%- elsif request.page_type == '404' -%}
      <title>404 • {{ shop.name | escape }}</title>
    {%- elsif request.page_type == 'gift_card' -%}
      <title>Gift Card • {{ shop.name | escape }}</title>
    
    {%- elsif request.page_type == 'blog' -%}
      <title>{{ blog.title | escape }} • {{ shop.name | escape }}</title>
    {%- elsif request.page_type == 'article' -%}
      <title>{{ article.title | escape }} • {{ shop.name | escape }}</title>
    
    {%- elsif request.page_type == 'list-collections' -%}
      <title>Collections • {{ shop.name | escape }}</title>
    {%- elsif request.page_type == 'collection' -%}
      <title>{{ collection.title | escape }} • {{ shop.name | escape }}</title>
    {%- elsif request.page_type == 'product' -%}
      <title>{{ product.title | escape }} • {{ shop.name | escape }}</title>
    {%- elsif request.page_type == 'cart' -%}
      <title>Cart • {{ shop.name | escape }}</title>

    {%- elsif request.page_type == 'customers/account' -%}
      <title>Account • {{ shop.name | escape }}</title>
    {%- elsif request.page_type == 'customers/activate_account' -%}
      <title>Activate • Account • {{ shop.name | escape }}</title>
    {%- elsif request.page_type == 'customers/addresses' -%}
      <title>Addresses • Account • {{ shop.name | escape }}</title>
    {%- elsif request.page_type == 'customers/login' -%}
      <title>Login • Account • {{ shop.name | escape }}</title>
    {%- elsif request.page_type == 'customers/order' -%}
      <title>Orders • Account • {{ shop.name | escape }}</title>
    {%- elsif request.page_type == 'customers/register' -%}
      <title>Register • Account • {{ shop.name | escape }}</title>
    {%- elsif request.page_type == 'customers/reset_password' -%}
      <title>Reset Password • Account • {{ shop.name | escape }}</title>
    {%- else -%}
      <title>{{ shop.name }}</title>
    {%- endif -%}

    <script defer src="{{ 'main.js' | asset_url }}"></script>
    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">

      {{ content_for_header }}
    </head>
    <body class="layout-theme">
      {% render 'main-menu' %}

      <main class="layout-theme__content">
        {{ content_for_layout }}
      </main>

      {% render 'footer' %}
    </body><!-- /.layout-theme -->
  </head>
</html>
